@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk&display=swap');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/search.css');

* {
  box-sizing: border-box;
}

i {
  margin-right: 5px;
}

body {
  margin: 0
}

.mySlides {
  display: none
}


.mySlides2 {
  display: none
}

.slideshow-container {
  max-width: 1000px;
  margin: auto;
}

.button {
  margin-left: 10px;
  padding: 9px 18px;
  background-color: white;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  text-decoration: none;
  border-radius: 7px;
}

.button:hover {
  color: rgb(160, 151, 151);
}

.button2 {
  margin-left: 10px;
  padding: 9px 18px;
  background-color: white;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  text-decoration: none;
  border-radius: 8px;
}

.button2:hover {
  color: rgb(160, 151, 151);
}

.active-left {
  transition: all 0.3s ease 0s;
  background-color: #dd1919;
  color:white;
  }
  
.active-left:hover {
  transition: all 0.3s ease 0s;
  background-color: #c02020;
  color: white;
  }
  
.active-right {
  transition: all 0.3s ease 0s;
  background-color: #5FD068;
  color: white;
  /* font-weight: 400; */
}
  
.active-right:hover {
  transition: all 0.3s ease 0s;
  background-color: #48ce53;
  color: white;
  }
  
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 1%;
  background-color: #ffffff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  width: 100%;
  text-transform: uppercase;
}
  
.logo {
  margin-left: 20px;
  margin-right: auto;
}
  
.nav__links {
  list-style: none;
  display: flex;
}
  
.nav__links a,
.overlay__content a {
  font-family: "Inter", sans-serif;
  font-weight: light;
  color: #1B1B1B;
  font-size: 12px;
  text-decoration: none;
}

.nav__links li {
  padding: 0px 12px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #FEAF04;
}

.overlay__content a {
  font-family: "Inter", sans-serif;
  font-weight: bolder;
  color: #1B1B1B;
  text-decoration: none;
}

img {
  width: 100%;
}

.contenedor {
  display: flex;
  align-items:first baseline;
  margin-left: 5%;
  margin-right: 34%;
}

.iframe-container {
  margin-left: 13.8%;
  margin-right: 28%;
  margin-top: -89.5%;
  margin-bottom: 110%;
}
  
.desarrollo {
  height: 1630px;
  margin-bottom: 35px;
}
  
p {
  font-family: 'Schibsted Grotesk', sans-serif;
  color: #1d1f1d;
  line-height: 1.75;
}
  
h1 {
  font-family: 'Schibsted Grotesk', sans-serif;
  font-size: 38px;
  color: #1d1f1d;
  letter-spacing: -0.4px;
}
  
.info {
  font-family: 'Schibsted Grotesk', sans-serif;
  font-size: 24px;
  color: #1d1f1d;
  margin-right: 20px;
}
  
.redes {
  margin-top: -30px;
  display: flex;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
}
  
.redes li {
  margin-right: 10px;
}
  
.redes i {
  color: #1d1f1d;
}  
  
.por {
  font-family: "Inter", sans-serif;
  font-weight: light;
  color: #1B1B1B;
  font-size: 13px;
  text-decoration: none;
}

.bajada {
  font-family: "Inter", sans-serif;
  font-weight: light;
  color: #1B1B1B;
  font-size: 12px;
  text-decoration: none;
}

.con {
  margin-left: 10px;
  padding: 9px 18px;
  background-color: #FEAF04;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  text-decoration: none;
  border-radius: 7px;
}
  
.con:hover {
  background-color: #dd9f19;
}

h2 {
  font-family: 'Schibsted Grotesk', sans-serif;
  color: #1d1f1d;
}

.caja {
  width: 22px;
  height: 22px;
  border-radius: 5px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  line-height: 50px;
  font-size: 14px;
  margin-right: 7px;
}

.plantaciones, .podas {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.pod {
  background-color: #e44141;
  color: #e4ebe7;
}

.plant {
  background-color: #5FD068;
  color: #e4ebe7;
}

.referencia {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

.container{
	max-width: 1170px;
	margin-left: 40px;
  margin-right: 40px;
  padding:0;
	box-sizing: border-box;
  margin-bottom: 20px;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
  padding: 20px 0;
}
.footer-col{
   width: 25%;
   padding: 0 10px;
}

h4{
	font-size: 13px;
	color: #1d1f1d;
	margin-bottom: 3px;
	font-weight: 500;
	position: relative;
  font-family: 'inter', sans-serif;
}

.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 12px;
	color: #1d1f1d;
	text-decoration: none;
	font-weight: 300;
	display: block;
  margin-left: -40px;
	transition: all 0.3s ease;
  font-family: 'inter', sans-serif;
}

.footer-col ul li a:hover{
	color: #FEAF04;
}

.footer-col .social-links a{
	display: inline-block;
	height: 30px;
	width: 30px;
	margin:0 5px 5px 0;
	line-height: 40px;
	border-radius: 50%;
  text-align:center;
	color: #1d1f1d;
	transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
	color: #FEAF04;
}

.copyright {
  max-width: 1170px;
  margin-left: 48px;
  padding: 5px;
  box-sizing: border-box;
  margin-top: 20px;
	font-size: 12px;
  font-family: 'inter', sans-serif;
	color: #1d1f1d;
	font-weight: 300;
}